@keyframes fly {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

button:hover .svg-wrapper {
  animation: fly 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(2.5em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(6em);
}

button svg, button span {
  transition: all 0.3s ease-in-out;
}
