<app-ripple-background>
  <div class="bg-neutral-900">
    <app-topbar></app-topbar>
    <div class="min-h-screen flex flex-col items-center justify-center text-center bg-neutral-900 text-white px-4">

      <om-fade direction="down" transitionDuration="1s">
        <om-gradient-text [text]="'Coming Soon'"
                          [styleClass]="'mb-4 font-extrabold text-6xl md:text-8xl relative'"></om-gradient-text>
      </om-fade>

      <om-fade direction="down" transitionDuration="1s">
        <p class="text-lg md:text-xl mb-8 max-w-2xl mt-6">
          A smarter way to receive curated tech, development, and cybersecurity insights — powered by AI.
          <span class="inline-flex items-center mt-1">
            <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1"
                 class="sparkle">
              <path
                d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
            </svg>
          </span>
        </p>
        <app-coming-soon-form></app-coming-soon-form>
      </om-fade>

      <div class="flex items-center justify-center text-center mt-8 gap-2 relative">
        <a href="https://github.com/C0MPL3XDEV" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path stroke-dasharray="32" stroke-dashoffset="32"
                    d="M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.7s" values="32;0"/>
              </path>
              <path stroke-dasharray="10" stroke-dashoffset="10"
                    d="M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.63 -1.09 -1.66 -2.31 -2.31">
                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="10;0"/>
              </path>
            </g>
          </svg>
        </a>
        <a href="https://instagram.com/carmine.developer" target="_blank">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <circle cx="17" cy="7" r="1.5" fill="currentColor" fill-opacity="0">
              <animate fill="freeze" attributeName="fill-opacity" begin="1.3s" dur="0.15s" values="0;1"/>
            </circle>
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
              <path stroke-dasharray="72" stroke-dashoffset="72"
                    d="M16 3c2.76 0 5 2.24 5 5v8c0 2.76 -2.24 5 -5 5h-8c-2.76 0 -5 -2.24 -5 -5v-8c0 -2.76 2.24 -5 5 -5h4Z">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="72;0"/>
              </path>
              <path stroke-dasharray="28" stroke-dashoffset="28"
                    d="M12 8c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4">
                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.6s" values="28;0"/>
              </path>
            </g>
          </svg>
        </a>
      </div>
      <footer class="mt-12 text-sm text-gray-400 relative">
        &copy; {{ date.getFullYear() }}  C0MPL3XDEV — All rights reserved.
      </footer>

      <div>
        <p>{{ testCall }}</p>
      </div>

    </div>
  </div>
</app-ripple-background>
