@import "tailwindcss";

@font-face {
  src: url('/fonts/satoshi/Satoshi-Variable.ttf');
  font-family: Satoshi;
  font-weight: 300 900;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  scroll-behavior: smooth;
}

.custom-ripple > .om-ripple-background {
  transform: scale(1.3);
}
